page-hconnect {
    .toolbar-title-ios {
        padding: 0 12px;
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
        position: relative;
        right: 0px;
    }
    /////////////////////////////

    .flex{
        display: flex;
        width: 95%;
        margin: 0px auto;
    }
    .left{
        width: 30%;
        text-align: center;
    }
    .center{
        width: 60%;
        text-align: left;
    }
    .right{
        width: 10%;
        text-align: center;
    }
    .right ion-icon{
        font-size: 2.5rem;
        color: black;
        position: relative;
        top: 5px;
    }
    .card-ios p {
        margin: 0 0 2px;
        font-size: 1.6rem !important;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        padding: 5px 5px;
    }
    .name{
        font-weight: 600 !important;
        color: #1e4b60 !important;
    }
    ///////////////////////////////////
    .rotate1 {


        color: #f53d3d !important;
        /* Safari */
        -webkit-transform: rotate(45deg);

        /* Firefox */
        -moz-transform: rotate(45deg);

        /* IE */
        -ms-transform: rotate(45deg);

        /* Opera */
        -o-transform: rotate(45deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }

    .rotate2 {

        color: #2ec95c !important;
        /* Safari */
        -webkit-transform: rotate(-140deg);

        /* Firefox */
        -moz-transform: rotate(45deg);

        /* IE */
        -ms-transform: rotate(45deg);

        /* Opera */
        -o-transform: rotate(45deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


    }
}


ion-modal.inset-modal {
    // transparent black background overlay
    background-color: rgba(0, 0, 0, .5) !important;
    transition: opacity .25s ease-in-out;
    padding: 20vh 10vw;
  }
