page-memberscore {


    ion-card{
        border: 3px solid darkgray;
        padding: 5px 10px;

        p{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold !important;
            color: #3f6577 !important;
        }
    }
}
