<!--
  Generated template for the ForgetmodelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- <ion-item>
    <ion-label>
      <ion-icon name="ios-call"></ion-icon>
    </ion-label>
    <ion-input type="tel" placeholder="Mobile Number" [(ngModel)]="number" pattern="[0-9]*" maxlength="10">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="max-width: 35px;">
      <ion-icon name="ios-contacts"></ion-icon>
    </ion-label>
    <ion-select placeholder="Meeting Type" [(ngModel)]="meetingType">
      <div *ngFor="let data of meeting_type">
        <ion-option value="{{data.meeting_type}}">{{data.meeting_type_name}}</ion-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col size='12' class="Details">
          <button (click)="forgetsend()" class="send" ion-button>Send Instructions</button>
      </ion-col>
    </ion-row>
    </ion-grid> -->


    <!-- <div class="outer">
      <div class="middle">
        <div class="inner"> -->
  
          <div class="center-div" text-center>
  
            <ion-list>
  
              <ion-item>
                <ion-label>
                  <ion-icon name="ios-call"></ion-icon>
                </ion-label>
                <ion-input type="tel" placeholder="Mobile Number" [(ngModel)]="number" pattern="[0-9]*" maxlength="10">
                </ion-input>
              </ion-item>
  
              <ion-item>
                <ion-label style="max-width: 35px;">
                  <ion-icon name="ios-contacts"></ion-icon>
                </ion-label>
                <ion-select placeholder="Meeting Type" [(ngModel)]="meetingType">
                  <div *ngFor="let data of meeting_type">
                    <ion-option value="{{data.meeting_type}}">{{data.meeting_type_name}}</ion-option>
                  </div>
                </ion-select>
              </ion-item>
  
            </ion-list>
  
            <div class="login-button">
              <button (click)="forgetsend()" ion-button>Send Instructions</button>
            </div>
          </div>
  
      
  
        <!-- </div>
      </div>
    </div> -->


</ion-content>
