<ion-header>
  <ion-navbar>
    <ion-title> You & Me History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of hyoumelist">

    <ion-card (click)="modal(plc?.value,com?.value)">
      <div class="flex">
        <div class="left">
          <p>{{item.date}}</p>
        </div>
        <div class="center">
          <P class="name">{{item.name}}</P>
        </div>
        <div class="right" *ngIf="item.type == 1">
            <ion-icon class="rotate1" name="arrow-up"></ion-icon>
          </div>
          <div class="right" *ngIf="item.type == 2">
            <ion-icon class="rotate2" name="arrow-up"></ion-icon>
          </div>
      </div>

      <ion-textarea style="display: none;" value="{{item.place}}" #plc></ion-textarea>
      <ion-textarea style="display: none;" value="{{item.comments}}" #com></ion-textarea>

    </ion-card>

  </div>

</ion-content>