page-showcase {


    .ic{
        float: right;
        position: relative;
        right: 8px;
        bottom: 7px;
        color: #fff;
    }

    .toolbar-title-ios {
        padding: 0 15px;
        font-size: 1.6rem;
        font-weight: 600;
        color: #fff;
        text-align: center;
        position: relative;
        top: 11px;

    }
    .rows{

        display: flex;
        width: 90%;
        margin: 0px auto;
        text-align: center;
        margin-top: 10px;
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        
        .lab{
            width: 15%;
            text-align: center;
            background-color: #3b6274;
        }

        .lab ion-icon{
            font-size: 2rem;
            padding: 14px 0;
        }

        .inp{
            width: 85%;
            text-align: center;
            border: 2px solid #3b6274;
        }
    
    }

    .item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus.item-inner{
        border-bottom-color: black !important;
    }

    .conf-btn{
        width: 95%;
        margin: 0px auto;
    }
    .conf-btn button{
        // width: 100%;
        margin-top: 25px;
        background-color: #3b6274;
    }


    .text-input-ios {
        margin: 0px !important;
    }

    .datetime-ios {
        padding: 0px !important;
    }

    .select-ios {
        width: 100%;
        padding: 0px 5px 0px 0px !important;
    }

    ion-select {
        max-width: 100% !important;
    }
}
